<h3>list</h3>
<pre>{{ dump(data.list) }}</pre>

<h3>headerText</h3>
<pre>{{ dump(data.headerText) }}</pre>

<h3>footerText</h3>
<pre>{{ dump(data.footerText) }}</pre>

<h3>class_sfx</h3>
<pre>{{ dump(data.class_sfx) }}</pre>
